.hidden {
  display: none;
}

.container {
  width: 1440px;
  margin: 0 auto;

  @media screen and (max-width: 1440px) {
    width: 1024px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
